body{
    background-color: #161616;
}

audio {
    filter: invert(100%) hue-rotate(180deg) brightness(1.5);
    /* Invert(100%) lo hace blanco si era negro (o viceversa) */
    /* hue-rotate cambia el tono si quieres un color específico */
    
    width: 100%;
    max-width: 600px;
    height: 35px;
}
#formulario-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    width: 100%;
    padding: 13px;
    border: 4px solid rgb(161, 160, 160);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: transform 0.4s;
}
input:hover{
    transform: scale(1.02);
}

/* Centra todo en la pantalla */
#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las cards hijos */
    width: 100%;
    max-width: 800px;    /* Un poco más ancho para que luzca mejor */
    margin: 0 auto;      /* Centra el contenedor en el body */
    padding-bottom: 150px; 
}

.card {
    display: flex;
    flex-direction: row; /* Imagen a la izquierda, texto a la derecha */
    align-items: center; 
    background: #252525;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 90%; 
    height: 180px;      /* Altura fija más estética para listas de música */
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #444;
}

.Imagen {
    height: 140px;      /* Tamaño más controlado */
    width: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 15px;
    border: none;
}

/* Contenedor para los textos (puedes meter títulos y artistas aquí) */
.info-musica {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
}
.card:hover{
    background: #505050;
    transform: scale(1.09);
}
.card:active{
    transform: scale(0.9);
}


.Imagen{
    
    width: 30%;
    height: 50%;
    border: 2px rgb(158, 158, 158) solid;
    border-radius: 20px;
    margin: 10px;

}

.titulos{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.artistas{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}



.audi{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;       /* Distancia desde el borde inferior */
    left: 50%;          /* Lo mueve al centro horizontalmente */
    transform: translateX(-50%); /* Lo ajusta exactamente a su propio centro */
    height: 50px;
    /* Estilos extra para que se vea */
    background-color: #555555;
    height: 15%;
    
    padding: 3px 20px;
    border-radius: 5px;
  
    
}